/vendor/
/node_modules/
/.env
/.idea/
/dumps/
/cgi-bin/
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/error_log
/install.cmd
/public/index.php.cpanel
